.item-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Cinzel', serif;
}


@media (max-width: 1200px) {
    .item-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .item-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .item-list {
        grid-template-columns: repeat(1, 1fr);
    }
}
